*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;

}
.debug header{
   background-color: aquamarine;
}
.debug aside{
   background-color: brown;
}
.debug .content{
   background-color: blanchedalmond;
}
.debug footer{
   background-color: chocolate;
}
.debug .logo{
   background-color: black;
}

header{
   display: flex;
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 10;
   align-items: center;
   justify-content: flex-end;
   padding: 10px 5px;
   height: 40px;
   width: calc(100% - 50px);
}
main{
   display: flex;
   height: calc(100vh - 40px);
}
aside{
   width: 50px;
   flex-shrink: 0;
   flex-direction: column;
}
.content{
   width: calc(100% - 50px) ;
   overflow-y: auto;
   padding-top: 40px;
 
}
footer{
   height: 40px;
}
.logo{
   height: 40px;
   flex-shrink: 0;
}
